.desktop {
  display: flex;
  flex-direction: column;
  height: 2482px;
  align-items: flex-start;
  gap: 22px;
  position: relative;
  background-color: #ffffff;
}

.desktop .hero {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 711px;
  align-items: center;
  gap: 108px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.desktop .top-nav {
  display: flex;
  height: 40px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .navbar {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .group {
  position: relative;
  width: 20.02px;
  height: 20px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--colors-backgrounds-primary);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0f5d0d;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .CONTACT-ME {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  color: #105d0d;
}

.desktop .text-wrapper-2 {
  color: #ffffff;
}

.desktop .text-wrapper-3 {
  color: #0f5d0d;
}

.desktop .frame {
  display: inline-flex;
  align-items: flex-end;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .vector {
  position: relative;
  width: 20px;
  height: 20px;
}

.desktop .hero-2 {
  display: inline-flex;
  height: 591px;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  position: relative;
}

.desktop .frame-2 {
  display: flex;
  flex-direction: column;
  width: 708px;
  height: 563px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0px;
  position: relative;
}

.desktop .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .your-idea-our-design {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Anton SC-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 120px;
  letter-spacing: 0;
  line-height: 112px;
}

.desktop .text-wrapper-4 {
  color: #00403f;
}

.desktop .text-wrapper-5 {
  color: #ffaa00;
}

.desktop .at-maya-we-turn {
  position: relative;
  width: 610px;
  height: 111px;
  font-family: "Anek Tamil-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 13px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 23px;
}

.desktop .img {
  position: relative;
  width: 153px;
  flex: 0 0 auto;
}

.desktop .right {
  display: flex;
  width: 562px;
  height: 561px;
  align-items: flex-start;
  gap: 10px;
  padding: 27px 29px;
  position: relative;
  background-color: #0f5d0d;
  border-radius: 281px;
}

.desktop .ellipse {
  position: relative;
  width: 504.79px;
  height: 504.79px;
  margin-right: -0.79px;
  background-color: #ffffff;
  border-radius: 252.4px;
}

.desktop .ellipse-2 {
  position: absolute;
  top: 69px;
  left: 114px;
  width: 109px;
  height: 109px;
  background-color: #ffffff;
  border-radius: 54.69px;
}

.desktop .ellipse-3 {
  position: absolute;
  top: 54px;
  left: 54px;
  width: 454px;
  height: 454px;
  background-color: #0f5d0d;
  border-radius: 227.16px;
}

.desktop .ellipse-4 {
  position: absolute;
  top: 256px;
  left: 261px;
  width: 49px;
  height: 49px;
  background-color: #ffffff;
  border-radius: 24.5px;
}

.desktop .ellipse-5 {
  position: absolute;
  top: 172px;
  left: 194px;
  width: 87px;
  height: 87px;
  background-color: #ffffff;
  border-radius: 43.75px;
}

.desktop .ellipse-6 {
  position: absolute;
  top: 77px;
  left: 108px;
  width: 111px;
  height: 111px;
  background-color: #ffffff;
  border-radius: 55.5px;
}

.desktop .frame-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1749px;
  background-color: #ffffff;
  overflow: hidden;
}

.desktop .services-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 622px;
  display: flex;
  background-color: #9dbb9c;
}

.desktop .services {
  margin-top: 49px;
  width: 197px;
  height: 23px;
  margin-left: 621px;
  font-family: "Anek Tamil-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 49px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.desktop .div-wrapper {
  display: flex;
  width: 260px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 632px;
  left: 617px;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: 237px;
  margin-top: -1px;
  font-family: "Anek Tamil-Medium", Helvetica;
  font-weight: 500;
  color: #105d0d;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-4 {
  display: flex;
  width: 1280px;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 161px;
  left: 66px;
}

.desktop .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 72px 0px 72px 72px;
}

.desktop .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Anek Tamil-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .high-quality-video {
  position: relative;
  align-self: stretch;
  height: 201px;
  font-family: "Anek Tamil-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 17px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  position: absolute;
  top: 695px;
  left: 27px;
  width: 1440px;
  height: 1054px;
  display: flex;
  flex-direction: column;
}

.desktop .frame-7 {
  margin-left: 77px;
  width: 1277px;
  height: 526px;
}

.desktop .frame-8 {
  display: inline-flex;
  margin-left: 1213px;
  width: 141px;
  height: 40px;
  position: relative;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 9px 35px 25px 30px;
  background-color: #cccfc599;
  border-radius: 20px;
}

.desktop .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  margin-bottom: -11px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #105d0d;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-9 {
  display: flex;
  margin-left: -27px;
  width: 1438px;
  height: 452px;
  position: relative;
  margin-top: 11px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 37px 68px 78px 120px;
  background-color: #ffaa0099;
}

.desktop .about {
  position: relative;
  width: 139px;
  height: 57px;
  margin-top: -1px;
  font-family: "Anek Tamil-Medium", Helvetica;
  font-weight: 500;
  color: #105d0d;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .welcome-to-maya-wrapper {
  position: relative;
  width: 1238px;
  height: 213px;
}

.desktop .welcome-to-maya {
  position: absolute;
  top: 0;
  left: 0;
  width: 1238px;
  font-family: "Anek Tamil-Regular", Helvetica;
  font-weight: 400;
  color: #0a4808;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element-maya-all-rights-wrapper {
  position: relative;
  width: 476px;
  height: 32px;
  margin-bottom: -13px;
}

.desktop .element-maya-all-rights {
  position: absolute;
  top: 16px;
  left: 0;
  width: 396px;
  font-family: "Anek Tamil-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
