
*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Poppins,sans-serif;

background:#f5f5f5;

}



header{

padding:25px 70px;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

}



nav ul{

display:flex;

gap:35px;

list-style:none;

}



nav ul a{

text-decoration:none;

font-size:13px;

color:#444;

font-weight:500;

}



.logo{

display:flex;

align-items:center;

gap:8px;

font-weight:600;

}



.dot{

width:14px;

height:14px;

border-radius:50%;

background:#004d4d;

}



.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:40px 70px;

position:relative;

}



.hero-text{

width:45%;

}



.hero h1{

font-family:Oswald;

font-size:90px;

line-height:95px;

}



.green{

color:#004d4d;

}



.orange{

color:#ff9900;

}



.hero p{

margin-top:20px;

color:#555;

font-size:18px;

}



.hero-image{

width:520px;

height:520px;

border-radius:50%;

overflow:hidden;

border:10px solid #ff9900;

box-shadow:0 20px 0 #004d4d;

}



.hero-image img{

width:100%;

height:100%;

object-fit:cover;

}



.circle{

position:absolute;

background:#004d4d;

border-radius:50%;

}



.one{

width:35px;

height:35px;

right:430px;

top:170px;

}



.two{

width:80px;

height:80px;

right:400px;

bottom:100px;

}



.services{

padding:80px 70px;

}



.services h2{

font-family:Oswald;

font-size:55px;

color:#004d4d;

}



.services hr{

margin-top:10px;

opacity:.2;

}



.service-box{

display:flex;

gap:180px;

margin-top:50px;

}



.service{

display:flex;

gap:15px;

align-items:center;

font-size:28px;

}



.portfolio{

padding:0 70px;

}



.portfolio-top{

display:flex;

justify-content:space-between;

align-items:center;

}



.portfolio h2{

font-family:Oswald;

font-size:55px;

color:#004d4d;

}



.filter{

display:flex;

gap:30px;

font-size:13px;

}



.gallery{

display:flex;

justify-content:space-between;

margin-top:60px;

}



.card{

width:260px;

height:360px;

overflow:hidden;

border-radius:110px;

}



.card img{

width:100%;

height:100%;

object-fit:cover;

}



.btn{

display:block;

width:220px;

margin:40px auto;

text-align:center;

text-decoration:none;

background:#0a6f00;

padding:14px;

color:white;

font-size:35px;

border-radius:50px;

}



.recent-section{

display:flex;

width:85%;

margin:70px auto;

background:#004d4d;

position:relative;

padding:60px;

}



.recent-box{

width:250px;

background:#ff9900;

position:absolute;

left:-60px;

top:40px;

}



.recent-box h3{

text-align:center;

padding:15px;

color:white;

font-size:22px;

}



.recent-item{

height:70px;

border-top:1px solid white;

display:flex;

align-items:center;

padding-left:20px;

}



.bullet{

width:18px;

height:18px;

border-radius:50%;

background:white;

}



.right-box{

width:100%;

padding-left:300px;

}



.grid{

display:grid;

grid-template-columns:repeat(3,120px);

gap:70px;

justify-content:center;

}



.grid div{

width:120px;

height:150px;

background:#ddd;

}
